.container {
    padding: 30px 35%;
}
.gif{
    width: 50%;
}
.gifBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.helloMessage{
    width: 100%;
    background: #313134;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 30px 15%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 30px 5%;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding: 30px 5%;
    }
}
