.container {
    width: 475px;
    margin: 0 auto;
}
.gif{
    width: 50%;
}
.gifBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.helloMessage{
    width: 100%;
    background: #313134;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}


.lightMessage{
    background-color: #f5f0e8;
    color: black;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #81E6D9;
}
.bio{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fio{
    font-size: 36px;
    font-family: "Inter Bold";
    margin: 0;
}
.subFio{
    font-size: 14px;
}
/*@media screen and (min-width: 1281px) and (max-width: 1500px) {*/
/*    .container {*/
/*        padding: 30px 25%;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1025px) and (max-width: 1280px) {*/
/*    .container {*/
/*        padding: 30px 20%;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 769px) and (max-width: 1024px) {*/
/*    .container {*/
/*        padding: 30px 15%;*/
/*    }*/
/*}*/

.containerTitle{
    /*border-bottom: 3px solid grey;*/
    font-size: 20px;
    margin: 15px 0;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #525252;
    text-decoration-thickness: 4px;
}

.aboutDesc {
    text-align: justify;
    /*text-indent: 1em;*/
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.link{
    color: rgb(255, 99, 195);
    text-decoration: none;
}
.buttonBody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}
.button{
    background-color: #81E6D9;
    line-height: 1.2;
    padding: 10px 16px;
    font-family: 'Inter Medium';
    font-size: 16px;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    display: flex;
    aligin-items: center;
}

.bioElements{
    margin: 16px 0;
}
.bioElement{
    margin-bottom: 5px;
}

.bioElementDate{
    font-family: "Inter Bold";
    margin-right: 16px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 30px 10%;
        box-sizing: border-box
    }
    .bio{
        flex-direction: column;
        align-items: center;
    }
    .bioLeft{
        align-self: flex-start;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 30px 10%;
        box-sizing: border-box
    }
    .bio{
        flex-direction: column;
        align-items: center;
    }
    .bioLeft{
        align-self: flex-start;
        margin-bottom: 16px;
    }
}
