.container {
    padding: 30px 35%;
}
.gif{
    width: 50%;
}
.gifBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

.helloMessage{
    width: 100%;
    background: #313134;
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}