.header{
    width: 100%;
    padding: 10px 31%;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.logoSpan{
    color: white;
    text-decoration: none;
    font-family: 'Inter Bold';
    font-size: 18px;
    margin: 0;
}
.logoImg{
    height: 24px;
    margin-right: 1px;
    transform: rotate(0deg);
    transition: 0.3s;
}

.logo:hover > .logoImg {
    transform: rotate(-360deg);
}
.menu{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.nav > * {
    text-decoration: none;
    color: white;
    margin-left: 25px;
}
.links{
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.links:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}
.git{
    margin-right: 5px;
    height: 16px;
}
.githubLink > span {
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
.githubLink{
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.githubLink:hover > span {
    cursor: pointer;
    border-bottom: 1px solid white;
}
.light{
    color: black;
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .header{
        padding: 20px 20%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header{
        padding: 20px 15%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .header{
        padding: 20px 5%;
    }
}
@media screen and (max-width: 480px) {
    .nav{
        display: none;
    }
    .header{
        padding: 5px 5%;
        justify-content: space-between;
    }
    .logo > *{
        font-size: 16px;
    }
    .logoImg{
        height: 20px;
    }
}
